body{
    font-family: Arial, sans-serif;
}

#screen{
    width: 400px;
    height:300px;
    border:2px solid black;
    margin-right:20px;
    margin-top: 40px;
    display: inline-block;
}

#floor{
    margin: 50% auto;
    height: 0;
    width: 60%;
    position: relative;
    border-bottom: 90px solid tan;
    border-right:50px solid transparent;
    border-left:50px solid transparent;
}

#floofTest{
    width:40px;
    position: absolute;
    top:240px;
    left: 190px;
    transition: 0.5s ease-out;
    display: none;
}

#sideMenus{
    display: inline-block;
    /*width:300px;*/
    vertical-align: top;
    text-align: center;
}

.menu{
    display: inline-block;
    background-color: lightgrey;
    border-radius: 15px;
    padding:20px;
    margin: 10px 0;
}

/*#floofThoughts{
    vertical-align: top;
}*/

#thoughtContainer{
    overflow: hidden;
    height:4em;
    width:200px;
}

#enterThought, #exitThought{
    display: block;
    position: relative;
    height:2em;
    margin:1em 0;
    text-align: center;
    transition:0.5s ease-out;
    top:0;
    opacity: 1;
}

label{
    text-align: center;
    font-size: small;
    display: block;
}

#floof{
    width:40px;
    height:30px;
    position: relative;
    top:-260px;
    left:180px;
    border-radius: 20px 20px 12px 12px;
    background-color: green;
    transition: 0.5s ease-out;
}

#eyeLeft, #eyeRight{
    width: 5px;
    height: 8px;
    position: relative;
    border-radius: 3px;
    background-color: black;
    transition: 0.5s;
}
#eyeLeft{
    left:10px;
    top:15px;
}
#eyeRight{
    left:35px;
    top:7px;
}

#dot{
    background-color: red;
    position: relative;
    width:5px;
    height:5px;
    transition: 0.5s;
    display: none;
}